body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    background: rgb(89, 89, 170);
    color: white;
    padding: 20px;
    font-size: larger;
}

body.dark-mode header {
    background: #1f1f1f;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

body.dark-mode button {
    background-color: #444;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #555;
}

iframe {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/*html css javascript links*/
li{
    font-size: 20px;
    list-style: none;
    color: red;
}